@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #734930;  /* Dark brown */
  --secondary-color: #BF8A6B; /* Light brown */
  --tertiary-color: #D9C6BA; /* Beige */
  --background-color: #eceae9; /* Off-white */
  --text-color: #0D0D0D; /* Dark gray */
  --button-hover-color: #BF8A6B; /* Light brown for hover effects */
  --form-border-color: #D9C6BA; /* Beige for form borders */
  --gradient-color1: #734930; /* For gradient effect */
  --gradient-color2: #D9C6BA; /* For gradient effect */
  --accent-color: #F4A261; /* A contrasting accent color */
  --font-family: 'Montserrat', sans-serif; /* Chosen font-family */
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1000; /* Ensure navbar is on top of other elements */
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  transition: transform 0.3s ease;
}

.nav-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-item.active a,
.nav-item a:hover {
  color: var(--accent-color);
}

.nav-icon {
  display: none;
  cursor: pointer;
}

.nav-icon .line {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px 0;
  transition: 0.4s;
}

.nav-icon .line.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-icon .line.open:nth-child(2) {
  opacity: 0;
}

.nav-icon .line.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-menu.nav-menu-active {
    transform: translateX(0);
  }

  .nav-icon {
    display: block;
  }
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body, html {
  font-family: var(--font-family); /* Apply global font-family */
  background: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  animation: fadeIn 1.5s ease-in-out 0.3s forwards;
  width: 100%;
  color: var(--text-color);
}
main {
  padding-top: 70px;
}
html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Section */

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: linear-gradient(to bottom, var(--gradient-color1) 0%, var(--gradient-color2) 40%, var(--background-color) 100%);
  text-align: center;
  padding: 5rem 1rem 2rem;
  margin-top: 0;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: calc(4rem + 2vw);
  color: var(--primary-color);
}

.title {
  color: var(--accent-color);
  text-transform: uppercase;
  margin-top: 0;
  font-size: calc(1.2rem + 1vw);
}

.introduction {
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.social-media-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-media-icons a {
  font-size: 2rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: var(--accent-color);
}

.resume-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.resume-button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transform: translateY(-2px);
  cursor: pointer;
}

/* Projects Section */

.projects-container {
  padding: 3rem 1rem;
  background-color: var(--background-color);
  text-align: center;
}

.projects-section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, var(--tertiary-color), var(--background-color));
  color: var(--text-color);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid var(--secondary-color);
}

.project-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.project-overview {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.project-tech {
  background: var(--primary-color);
  color: var(--background-color);
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.95rem;
}

.project-link {
  font-size: 1.1rem;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  background: var(--tertiary-color);
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.project-link:hover {
  background: var(--primary-color);
  color: var(--background-color);
  transform: scale(1.05);
}

/* Work Experience Section */

.work-experience-container {
  max-width: 1200px;
  font-family: var(--font-family);
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--background-color);
}

.work-section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.accordion-container {
  border-radius: 8px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid var(--secondary-color);
  margin: 2rem 0;
  transition: max-height 0.3s ease-out; /* Smooth transition */
}

.accordion-header {
  background: var(--tertiary-color);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-header:hover {
  background-color: var(--secondary-color); /* Change background on hover */
  color: var(--background-color); /* Invert text color on hover */
}

.accordion-title {
  font-size: 1.5rem; /* Slightly larger font for the title */
}

.accordion-arrow {
  font-size: 1.5rem;
  transition: transform 0.3s ease; /* Smooth rotation */
}

.accordion-arrow.open {
  transform: rotate(180deg); /* Rotate when open */
}

.accordion-content {
  padding: 1rem;
  background: var(--background-color);
  color: var(--text-color);
  border-top: 1px solid var(--secondary-color);
  transition: opacity 0.3s ease; /* Fade in/out effect */
}

.accordion-content.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.accordion-content.visible {
  max-height: 1000px; /* Arbitrary large value to ensure visibility */
  opacity: 1;
}

.job-duration-location {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.job-description {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.job-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tool {
  background: var(--primary-color);
  color: var(--background-color);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 1rem;
}

.company-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
}

.company-link:hover {
  color: var(--background-color); /* Darken slightly for readability */
  background-color: var(--accent-color); /* Use accent color for better contrast */
  padding: 0.3rem 0.6rem; /* Slightly increase padding */
  border-radius: 4px;
  text-decoration: underline;
}

.company-link::after {
  content: " ↗";
  font-size: 0.85em;
  display: inline-block;
  transform: translateX(5px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.company-link:hover::after {
  transform: translateX(0);
  opacity: 1;
}

/* Contact Section */

.contact-container {
  padding: 3rem 1rem;
  background-color: var(--background-color);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid var(--form-border-color);
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.submit-button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--accent-color);
}

.form-status {
  margin-top: 1rem;
  color: var(--accent-color);
  font-weight: bold;
}

/* Responsive styling */
@media (max-width: 600px) {
  .contact-container {
    padding: 2rem 1rem;
  }

  .contact-title {
    font-size: 2rem;
  }

  .submit-button {
    font-size: 0.9rem;
  }
}

/* Footer Section */
.footer-container {
  background-color: var(--primary-color); /* Dark brown */
  color: var(--background-color); /* Off-white */
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-description {
  font-size: 1rem;
}

.footer-social-media {
  display: flex;
  gap: 1rem;
}

.footer-social-media a {
  color: var(--background-color); /* Off-white */
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social-media a:hover {
  color: var(--accent-color); /* Accent color */
}

/* Responsive footer */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-social-media {
    justify-content: center;
  }
}
